<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
        </script>
        <script>
            function start() {
                gapi.load('auth2', function() {
                    auth2 = gapi.auth2.init({
                        client_id: '570607640352-ilu5sj1life9l8r8ej603p2otakstfhh.apps.googleusercontent.com',
                        // Scopes to request in addition to 'profile' and 'email'
                        //scope: 'openid email'
                    });
                });
            }
        </script>
    </head>
    <body>

        <button id="signinButton">Sign in with Google</button>
        <div id="result"></div>
        <script>
          $('#signinButton').click(function() {
            // signInCallback defined in step 6.
            auth2.grantOfflineAccess().then(signInCallback);
          });
        </script>
        <script>
            function signInCallback(authResult) {
                if (authResult['code']) {
                
                    // Hide the sign-in button now that the user is authorized, for example:
                    $('#signinButton').attr('style', 'display: none');
                
                    // Send the code to the server
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{STATE}}',
                        // Always include an `X-Requested-With` header in every AJAX request,
                        // to protect against CSRF attacks.
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            // Handle or verify the server response.
                            if (result) {
                                $('#result').html('Login successful!</br>' + result +
                                    '</br>Redirecting...')
                                setTimeout(function() {
                                    window.location.href = '/restaurant';
                                }, 4000);
                            } else if (authResult['error']) {
                                console.log('There was an error: ', authResult['error']);
                            } else {
                                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                            }
                        },
                        processData: false,
                        data: authResult['code']
                    });
                } else {
                    // There was an error.
                }
            }
        </script>
    </body>
</html>